BOT_TOKEN=
TARGET_CHANNEL=@yourchannel
SOURCE_CHAT_ID=-1001234567890
SOURCE_MESSAGE_ID=1
CONTEST_CHAT_ID=-1001234567890
INVITE_CHAT_ID=-1001234567890
TZ=Asia/Tashkent

POST_HOUR=7
POST_MINUTE=30
MORNING_HOUR=6
MORNING_MINUTE=0
WINNER_HOUR=20
WINNER_MINUTE=0
TOP_HOUR=21
TOP_MINUTE=0

ADMIN_USER_IDS=2049065724
DISCOUNT_PERCENT=25
DISCOUNT_MAX_SUM=1000000
DISCOUNT_HOURS=72
WINNER_COOLDOWN_DAYS=30
STATE_DIR=./data
