BOT_TOKEN=BOTFATHER_DAN_OLINGAN_YANGI_TOKEN
TARGET_CHANNEL=@sizningkanalingiz
TZ=Asia/Tashkent
POST_HOUR=7
POST_MINUTE=30

POST_TEXT=✨ OrzuMall — siz izlagan mahsulotlar shu yerda!

PHOTO_URL=
VIDEO_URL=

BTN1_TEXT=🛍 Kanal
BTN1_URL=https://t.me/orzumalluz
BTN2_TEXT=👥 Guruh
BTN2_URL=https://t.me/orzumallgroup
BTN3_TEXT=🤖 Bot
BTN3_URL=https://t.me/OrzuMallUZ_bot
BTN4_TEXT=🌐 Sayt
BTN4_URL=https://orzumall.uz
